node_modules
vendor
.env
.env.*
.git
.gitignore
public/build
public/hot
public/fonts-manifest.dev.json
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
npm-debug.log
